/vendor/
/nbproject/
/logs/
.env
/cache/
/.php_cs.cache
/.vscode/
/Tests/.phpunit.result.cache
/node_modules/
coverage/
dist/
!dist/index.html
node_modules/
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db