
<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta %}The HTML5 Herald{% endblock %}">
  <meta name="author" content="{% block content %}SitePoint{% endblock %}">
</head>
<body>
{% block body %}{% endblock %}

</body>
</html>
