
<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>{% block title %}registro{% endblock %}</title>
  <meta name="description" content="{% block meta %}The HTML5 Herald{% endblock %}">
  <meta name="author" content="{% block content %}SitePoint{% endblock %}">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
{% block body %}{% endblock %}

  <script src="js/scripts.js"></script>
</body>
</html>
