
<<<<<<< HEAD
{% extends 'src\templates\registro.html.twig' %}

=======
{% extends 'base.html.twig' %}
{% block title %}usuario registrado correctamente {% endblock %}
>>>>>>> 46dfa6411558be6aeede231b4c677c9e60b9db25
{% block body %}<p>usuario registrado correctamente </p>{% endblock %}

